@import url(./blocks/header/header.css);
@import url(./blocks/intro/intro.css);
@import url(./blocks/photo/photo.css);
@import url(./blocks/places/places.css);
@import url(./blocks/video/video.css);
@import url(./blocks/content/content.css);
@import url(./blocks/comments/comments.css);
@import url(./blocks/cover/cover.css);


.page{
    background-color: #2A2C2F;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.footer{
  margin-left: auto;
  margin-right: auto;
  margin-top:160px;
  width:90%;
  max-width: 1184px;

  display:flex;
  justify-content: space-between;

}

.footer__link-box{
  width:33%;
  display:flex;
  justify-content: space-between;
  

  list-style: none;
  margin:0; 
  padding:0;

}

.footer__link{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 41px;
  text-decoration: none;

  color: #FFFFFF;
}


.footer__copyright{
  padding: 0;
  margin-bottom:0;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: right;

  color: #FFFFFF;
}






























