@import url(./blocks/header/header.css);
@import url(./blocks/intro/intro.css);
@import url(./blocks/photo/photo.css);
@import url(./blocks/places/places.css);
@import url(./blocks/video/video.css);

.page{
    background-color: #2A2C2F;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}



.content__title{
  max-width: 640px;
  width: 85%;
  margin-left: auto;
  margin-right:auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.0764;
  text-align: center;
  
  padding:0;
  margin-top:102px;
  margin-bottom: 37px;

  color: #FFFFFF;
}

@media screen and (max-width:768px)and (min-width:424px){
  .content__title{
      font-size: 42px;  
  }
}
@media screen and (max-width:425px){
  .content__title{
    font-size: 32px;
    margin-bottom:31px;
  }
}

.content__subtitle{

  max-width: 640px;
  width:85%;
  margin-left: auto;
  margin-right:auto;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.45;
  text-align: center;

  padding:0;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFFFFF;
}

@media screen and (max-width:425px){
  .content__subtitle{
    font-size: 16px;
  }
}

.comments__container{
  margin-left: auto;
  margin-right:auto;
  max-width: 1184px;
  width:90%;
}

.comments__box{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap:18px;
  margin-top:70px;
}

.comments__item{
  list-style: none;
  margin:0;
  padding:0;

}

.comments__img{
  border-radius:50%;
  width: 75px;
}

.comments__text{
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

margin-top: 40px;
margin-bottom: 22px;

padding:0;
margin-right: 0;
margin-left: 0;
color: #FFFFFF;

}

.comments__author{
  font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 24px;

padding:0;
margin:0;

color: #FFFFFF;

}




















