.header__logo{
    max-width: 1184px;
    width:90%;
    margin-top:34px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
}

@media screen and (max-width:1024px)and (min-width:769px){
    .header__logo{
        max-width: 928px;
        margin-top:34px;
        margin-left:auto;
        margin-right:auto;
    }
    
}
@media screen and (max-width:768px)and (min-width:426px){
    .header__logo{
        max-width: 720px;
        margin-top:34px;
        margin-left:auto;
        margin-right:auto;
    }
    
}
@media screen and (max-width:425px){
    .header__logo{
        -webkit-mask-repeat-x:288px;
        margin-top:20px;
        margin-left:auto;
        margin-right:auto;
    }
    
}
