@import url(./_lan/header__logo_lan.css);
@import url(./_pic/header__logo_pic.css);

.header__logo{
    
    width: 80%;
    height: 46px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 33.79px;
    display:flex;
    justify-content:space-between;
}
