.places__img{
    grid-row: 2;
    grid-column: 1/2;
    width:calc(100% - 40px);
    object-fit: cover;
}

@media screen and (max-width:425px){
    .places__img{
        grid-row:2/3;
        grid-column:1;
        margin-bottom: 32px;
        width:100%;
    }
}