@import url(./__container/intro__container.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__list-box/intro__list-box.css);
@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);  

.intro__item{
    width:90%;
    max-width: 683px;
    margin-top: 64px;
    margin-left: 148px;
}

@media screen and (max-width:1024px)and (min-width:769px){
    .intro__item{
    margin-left: 48px;
    }
    
}
@media screen and (max-width:768px)and (min-width:426px){
    .intro__item{
        max-width: 720px;
        margin-left: 24px;
    }

    
}
@media screen and (max-width:425px){
    .intro__item{
        margin-left: 16px;
    }
    
}

.intro__item_wide{
    max-width:928px;
}
