.header__subtitle{
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
    width: 583px;
    height: 65px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: #FFFFFF;
}