.lead__caption{
    width:183px;
    margin-top:11px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height:1.2;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}

@media screen and (max-width:768px){
    .lead__caption{
        margin-left:24px;
    }
}

