.header__title{
    width: 782px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    text-align: center;

    color: #FFFFFF;
}
